<p id="notice"><%= notice %></p>
<br>
<h1>Users</h1>

<div class="table_container">
  <table>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
  
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user %></td>
          <!--
          <td><%= user.email %></td>
          -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
