/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-table/bootstrap-table
 */
 
 body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #838;
  color: #EEE;
 }
 
 #footer {
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #888;
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  color: #727;
 }
 
 #web-header {
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #888;
  background-color: #F0F0F0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  color: #727;
 }
 
 #zion {
  margin: 5px;
  border-radius: 10px;
  display: flex;
  height: 300px;
  align-self: center;
  
 }
 
 .separator {
  margin: 10px;
 }
 
 .table_container {
  margin-bottom: 10px;
  align-self: stretch;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #888;
  padding: 10px;
  display: inline-block;
  background-color: #EEE;
  color: #333;
 }
 
/* This may come in handy once the tables are in so I'm leaving it here for now
.list {
 display: flex;
 flex-direction: row;
 align-items: stretch;
}*/