// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.team_choices {
    text-align: center;
}


.team_button{
    
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.divisions_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    align-self: stretch;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #888;
    padding: 10px;
    background-color: #EEE;
    color: #333;
 }